:root {
  --primary: linear-gradient(90deg, #FFBD00, #F0941F, #03A64A, #009110);
}

.primary-color {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary {
  background: var(--primary);
}

.hover-bg-primary:hover {
  background: var(--primary);
  color: #fff !important;
}

.hover-primary {
  transition: color 0.3s ease;
}

.hover-primary:hover {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 4s infinite linear;
}

@keyframes shimmer {
  0% { filter: brightness(1); }
  50% { filter: brightness(1.6); }
  100% { filter: brightness(1); }
}

.input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #111;
  border: 1px solid #333;
  border-radius: 0.75rem;
  color: white;
  outline: none;
  transition: 0.3s;
}

.input-field:focus {
  border-color: #03A64A;
  box-shadow: 0 0 10px #03A64A33;
}
